/* sovrascrittura container-fluid padding */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}



/* regole generali */
* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

/* regole di debug */
[class*="col-"] {
  min-height: 100px;
  /* background-color: lightgreen; */
  border: solid 1px  #000;
  padding: 2px;
}

/* .row .col-6 div  */
[class*="col-"] > .row > [class*="col-"]{
  background-color: salmon;
  border-color: #fff;
}

/* regole corpo pagina */

.centratura-page {
  padding:0 10%;
  background-color: #2C3E50;
}

/* modifica componente navbar bootstrap */
#sezione1 .navbar-default{
  background-color: #2C3E50;
}

#sezione1 .navbar{
  border: none;
  margin-bottom: 0;
  min-height: 100px;
  padding-top: 25px;

}

/* colore testo navbar */
#sezione1 .navbar-header a,
#sezione1 .navbar-collapse a {
  color:white;
  font-weight: bold;

}

#sezione1 .navbar-header a {
  font-size: 25px;
}

/* sezione jumbotron */
.jumbo {
  background-color: #1ABC9C;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* contenitore immagine avatar jumbo */
#avatar-img {
  width: 60%;
  margin:0 auto;
}

/* testo jumbotron */
#jumbo-text {
  width: 100%;
  text-align: center;
  font-weight: bold;
  color: white;
}

#jumbo-text

/* contenitore full-width sezione portfolio */
.sez-portfolio {
  background-color: white;
  padding-top: 20px;
  padding-bottom: 20px;
}

/* contenitore interno sezione portfolio */
.sez-portfolio .container {
  /* background-color: green; */
  padding:0 60px;
}

/* testo sezione portfolio */
#portfolio-text {
  text-align: center;
  color: #2C3E50;
}

/* contenitori immagini portfolio */
.image-portfolio {
  width: 90%;
  margin: 10% auto;
}

/* contenitore full-width sezione about */
.sez-about {
  background-color: #1ABC9C;
  padding-top: 20px;
  padding-bottom: 20px;
  color: white;
}

.about-info {
  width: 90%;
  margin: 0 auto;
  }

/* bottone download sezione about */
#download-button {
  text-align: center;
}

/* contenitore full-width sezione contact */
.sez-contact {
  padding-top:20px;
  padding-bottom: 20px;
}

.form {
  padding:10% 0;
}

#send-button {
  padding:2%;
  background-color:green;
  border-radius: 8px;
}

/* footer contenitore full-width */
.up-footer {
  background-color: #3A546D;
  padding-top:20px;
  padding-bottom: 20px;
}

.up-footer.container {
  padding:0 60px;
}

#location, #around-web,
#about-freelancer,
#copyright-text {
  color:white;
}


#social-icon-cont {
  width: 100%;
  margin: 0 auto;
}

#social-icon-cont a {
  color:white;
  font-size: 20px;
  padding: 0 5px;
}






/* sub footer credits */
.sub-footer {
  background-color: #2C3E50;
  padding-top:20px;
  padding-bottom: 20px;
}
